@import url("./fonts.css");
@import url("./variables.css");
@import url("./banner.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

svg {
  image-rendering: high-quality;
  shape-rendering: geometricPrecision;
  color-rendering: optimizeQuality;
  width: 100%;
  height: auto;
}

#app {
  max-width: 1280px;
  margin: auto;
  text-align: center;
}

.id-card {
  position: relative;
  width: var(--id-width);
  height: var(--id-height);
  margin: 1.69rem;
  user-select: none;
}

/*.front {*/
  /*background: linear-gradient(var(--front-deg), var(--bg-gradient));*/
/*}*/

.back {
  background: linear-gradient(var(--back-deg), var(--bg-gradient));
}

.top-part {
  position: absolute;
  height: 60%;
  background: url('/senado.jpg'),
    rgba(var(--dark-blue-rgb), .69);
  /*border-radius: 0 0 1.32rem 1.32rem;*/
}

.bot-part {
  isolation: isolate;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 55%;
  border-radius: 1.69rem 1.69rem 0 0;
  background: #fff linear-gradient(var(--front-deg), white 69%, rgba(var(--light-blue-rgb), .23) 100%);
}

.id-card,
.top-part,
.bot-part {
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.id-card,
.profile-photo {
  background-color: white;
  border: 0.205625rem solid rgb(var(--dark-blue-rgb));
  border-radius: 0.3125rem;
  overflow: hidden;
}

.info {
  position: absolute;
  width: 100%;
  flex-direction: column;
  top: 31%;
  color: rgb(var(--dark-blue-rgb));
}

.profile-photo {
  width: 9.5625rem;
  height: 9.5625rem;
  background:
    #fff url('/placeholder.svg')
    center / 169%;
  font-size: 0;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.profile-photo img {
  position: absolute;
}

.profile-photo canvas {
  transition: opacity 0.6s ease-in-out;
}

.details {
  margin-top: .69rem;
  line-height: 1;
}

.idnumber {
  font-size: .69rem;
  color: rgb(var(--light-blue-rgb));
}

.name {
  margin-top: .69rem;
  font-size: 1.32rem;
}

.position {
  opacity: .69;
}

.qrcode-container {
  width: 3.6rem;
  height: 3.6rem;
  margin: .96rem auto 0;
  background-color: transparent;
  border: 0.105625rem solid rgb(var(--dark-blue-rgb));
  border-radius: 0.3125rem;
  opacity: .96;
}